
.container {
  // position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
  height: auto;
  width: 100vw;
  align-items: space-around;
  background-color: whitesmoke;
}

.background {
  background-image: url("../../content/assets/service.jpeg");
  width: 100vw;
  height: 80vh;
  background-position: bottom center;
  background-repeat: repeat-y;
  // background-size: cover;
  filter: blur(4px);
  -webkit-filter: blur(4px);
}

h1 {
  margin: 0;
  font-size: 4vw;
}

.messageTop {
  align-items: center;
  position: absolute;
  top: 35%;
  left: 20%;
  // transform: translate(-50%, -50%);
  margin: 0;
  min-width: 0;
  min-height: 0;

}
.message {
  color: white;
  background: rgba(249, 31, 42, 0.3);
  width: 60vw;
  text-align: center;
  padding: 1rem 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;

}

.button {
  background: red;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  font-family: Arial;
  font-size: 2vw;
  padding: 1em 1em;
  text-decoration: none;
  margin: 0.3rem;
  border: none;
}
.button:hover {
  background-color: darkred;
  font-size: 20px;
}
.button:active {
  position: relative;
  top: 1px;
}

// .bottom {
//   align-items: center;
//   display: flex;
//   justify-content: center;
// }
