
.container {
  // position: relative;
  display: flex;
  flex: 0 1 100%;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  height: auto;
  width: 100vw;
  align-items: space-around;
  background-color: black;
}

// .background {
//   background-image: url("../../content/assets/service.jpeg");
//   width: 100vw;
//   height: 80vh;
//   background-position: bottom center;
//   background-repeat: repeat-y;
//   // background-size: cover;
//   filter: blur(4px);
//   -webkit-filter: blur(4px);
// }

h1 {
  margin: 0;
  font-size: 4vw;
}

a {
  // display: inline-block;
  text-decoration: none;

}

// .buttonText {
//   text-decoration: none;

// }


.button {
  background: green;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  font-family: Arial;
  font-size: 1.3vw;
  padding: 1em 1em;
  text-decoration: none;
  margin: 0.3rem;
  border: none;
}
.button:hover {
  background-color: darkgreen;
  font-weight: bolder;
}
.button:active {
  position: relative;
  top: 1px;
}