
.title {
  font-size: 4vw;
}
.title1 {
  font-size: 2vw;
  color: red
}
.title2 {
  font-size: 1.5vw;
}
.container {
  width: 100%;
  max-width: 100%;
  padding: 1em;
  margin: 0;
  color: white;
  background-color: black;
}

/**
 * By using display: flex
 * Logo and nav are in 2 cols
 * align-items make them
 * vertically centered
 * justify-content distribute
 * horizontal spaces around
 * and flex-wrap break the
 * things in two lines in
 * small screens
 */
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: nowrap;
  text-decoration: none;
}

.address {
  margin-left: 2em;
  font-size: 1.5vw;
}
.email {
  margin-left: 2em;
  font-size: 1.5vw;
}
.phone {
  margin-top: 0.3em;
  margin-left: 2em;
  font-size: 1.5vw;
}

.title {
  // color: red;
  text-decoration: none;
  font-size: 4vw;
}
