// .header {
//     padding: 1rem 0 3rem;
// }

// img {
//   max-width: 100%;
//   height: auto;
// }

.title {
  font-size: 4vw;
}
.title1 {
  font-size: 2vw;
}
.title2 {
  font-size: 1.5vw;
}
.container {
  width: 100%;
  max-width: 100%;
  padding: 1em;
  margin: 0;
  color: white;
  background-color: black;
}

/**
 * By using display: flex
 * Logo and nav are in 2 cols
 * align-items make them
 * vertically centered
 * justify-content distribute
 * horizontal spaces around
 * and flex-wrap break the
 * things in two lines in
 * small screens
 */
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: nowrap;
}

.address {
  margin-left: 2em;
  font-size: 1vw;
}
.email {
  margin-left: 2em;
  font-size: 1vw;
}
.phone {
  margin-top: 0.3em;
  margin-left: 2em;
  font-size: 1vw;
}

.title {
  // color: red;
  text-decoration: none;
  font-size: 4vw;
}

.nav-list {
  display: flex;
  margin: 0;
  list-style-type: none;
}

.nav-item {
  color: #999999;
  font-size: 0.9rem;
  text-decoration: none;
  margin-right: 1.9rem;
}

.nav-item:hover {
  color: #666666;
}

.activeNavItem {
  color: #333333;
}
