.background {
  background-image: url("../../content/assets/service.jpeg");
  width: 100vw;
  height: 100vh;
  background-position: bottom center;
  background-repeat: repeat-y;
  background-size: cover;
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

h1 {
  margin: 0;
}

.container {
  position: relative;
}

.messageTop {
  align-items: center;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}
.message {
  color: white;
  background: rgba(249, 31, 42, 0.3);
  width: 60vw;
  text-align: center;
  padding: 1rem 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.button {
  background: red;
  border-radius: 8px;
  // display: inline-block;
  cursor: pointer;
  color: white;
  font-family: Arial;
  font-size: 17px;
  padding: 17px 60px;
  text-decoration: none;
  margin: 3rem;
  border: none;
}
.button:hover {
  background-color: darkred;
  font-size: 20px;
}
.button:active {
  position: relative;
  top: 1px;
}

.bottom {
  align-items: center;
  display: flex;
  justify-content: center;
}
