.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  align-items: space-around;
}

.background {
  background-image: url("../../content/assets/EpiphanyCandleHymnal.jpg");
  width: 100vw;
  height: 100vh;
  background-position: bottom center;
  background-repeat: repeat-y;
  background-size: cover;
  filter: blur(3px);
  -webkit-filter: blur(3px);
}

h1 {
  margin: 0;
  font-size: 2vw;
}

.messageTop {
  position: relative;
  top: -90%;
  left: 5%;
  // transform: translate(0%, -200%);
  margin: 0;
}

.message {
  color: white;
  background: rgba(249, 31, 42, 0.3);;
  width: 60vw;
  // text-align: center;
  padding: 1rem 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.button {
	background: red;
	border-radius: 8px;
	cursor: pointer;
	color: white;
	font-family: Arial;
	font-size: 2vw;
  padding: 1em 1em;
  margin: 0.3em;
  text-decoration: none;
  text-align: center;
  border: none
}
.button:hover {
  background-color:darkred;
  font-size: 1vh;
}
.button:active {
	position:relative;
	top:1px;
}